
@font-face {
    font-family: 'MuseoSlab500';
    src: url('./assets/fonts/museo_slab-webfont.eot');
    src: url('./assets/fonts/museo_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/museo_slab-webfont.woff') format('woff'),
         url('./assets/fonts/museo_slab-webfont.ttf') format('truetype'),
         url('./assets/fonts/museo_slab-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: "MuseoSlab500";
  letter-spacing: -2px;
}

.jumbotron {
  background: url(assets/hero.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 735px;
}

.jumbotron h1 {
  color: white;
}
.jumbotron p {
  color: #eee;
}

.jumbotron .container {
  position: relative;
  height: 100%;
}

.jumbotron .container header {
  position: absolute;
  bottom: 0;
}

.cta {
  text-align: center;
}

.container .row {
  margin-bottom: 1em;
}

footer {
  color: #efefef;
  background-color: #222;
  padding-bottom: 3em;
}

footer .futurice {
  width: 128px;
}

